.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    margin: 8px 0px;
}
.hr-sect:before,
.hr-sect:after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 0px;
    margin: 0px 8px;
}

.cat-spinner{
    width: 100px;
    height: 100px;
    display: block;
  margin: 0 auto;
}