footer {
    background-color: var(--recipe-green) !important;
    position: relative;
    bottom: 0;
}

footer a:hover {
    color: whitesmoke !important;
}

.white-text {
    color: whitesmoke;
}

.gray-text {
    color: rgb(74, 72, 72);
}

