:root{
  --recipe-green: #83a8a4;
  --font-color:rgba(0, 0, 0, 0.841);
  --background-color: rgba(92, 92, 92, 0.149);
}


* {
  font-family: 'Lato', sans-serif, 'Tahoma';
  color: var(--font-color)
  
}
  
.textdecoration-none {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--recipe-green) !important;
}

.main{
  min-height: 70vh;
  background-color: var(--background-color);
  padding-bottom: 3rem;
}


/* /* }
@media all and (max-width:810px) {
  html{
    font-size: 85%;
  }
}

@media all and (max-width:570px) {
  html{
    font-size: 80%;
  }
}

@media all and (max-width:546px) {
  html{
    font-size: 70%;
  }
}

@media all and (max-width:459px) {
  html{
    font-size: 60%;
  } */

